<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="widget(widget, navigationItem, pageDetails)">
    <form class="form-inline" method="post" id="cart">
        <input th:type="hidden" th:name="action" th:id="action" value="" />
        <input th:type="hidden" th:name="actionIdentifier" th:id="actionIdentifier"
               th:value="${pageDetails.navigationDto.id}
                                                       +'-'+${navigationItem.id}
                                                       +'-'+${widget.id}" />
            <div th:with="product=${widget.componentDtos[0].objectList[0]},
            order=${widget.componentDtos[0].objectList[1]}"
                 class="w3-row-padding w3-grayscale" style="width: auto">
                <div class="w3-col l3 m6 w3-margin-bottom">

                    <img th:with="image=${#strings.arraySplit(product.image,',')}"
                         th:src="|/images/${image[0]}|" th:alt="${product.header}" style="width:100%" />

                    <h3 th:text="${product.header}"></h3>
                    <p class="w3-opacity" th:text="${product.subHeader}"></p>


                </div>

                <div class="w3-col l3 m6 w3-margin-bottom" style="text-align:right">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="${widget.widgetTitle}"></h3>
                    <h3 th:text="${product.header}"></h3>
                    <p class="w3-opacity" th:text="${product.subHeader}"></p>
                    <p th:text="${product.description}"></p>
                    <input type="hidden" th:name="smsApiKey" th:id="smsApiKey"  th:value="${product.smsApiKey}"></input>
                    <input type="hidden" th:name="productId" th:id="productId"  th:value="${product.id}"></input>
                    <input type="hidden" th:name="orderId" th:id="orderId"  th:value="${order.id}"></input>
                    <input type="hidden" th:name="customerId" th:id="customerId"  value=""></input>
                    <input type="hidden" th:name="sendMail" th:id="sendMail"  value=""></input>
                    <input type="hidden" th:name="otpMatched" th:id="otpMatched"  value="false"></input>
                    <input type="hidden" th:name="otpSessionId" th:id="otpSessionId"  value=""></input>
                    <p th:text="|Price per ${order.quantity} unit: Rs.${order.price}/-|"></p>
                    <p th:text="|Discount : Rs.-${order.discount}/-|"></p>
                    <p th:text="|GST : Rs.${order.totalGst}/-|"></p>
                    <p th:text="|Delivery charges : Rs.${order.deliveryCharges}/-|"></p>
                    <b><p th:text="|Final Price : Rs.${order.finalPrice}/-|"></p></b>

                </div>
                <div class="w3-col l3 m6 w3-margin-bottom" style="width: 150px">
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom" align="left !important" style="text-align:left !important">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="|Customer Details|"></h3>
                    <p class="w3-opacity" th:text="|Provide below details|"></p>
                    <div th:each="componentDto : ${widget.componentDtos}" th:if="${componentDto.type}!=custom">
                        <div th:replace="|../widgets/${componentDto.type}| ::
                                                    formField(
                                                    component=|${componentDto}|,
                                                    widget=|${widgetDto}|,
                                                    navigationItem=|${navigationItemDto}|,
                                                    pageDetails=|${pageDetails}|
                                                    )"></div>
                        </div>

                    </div>
            </div>
    </form>
</div>
</body>
</html>
