<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="widget(widget, navigationItem, pageDetails)">
    <form class="form-inline" method="post">
        <input th:type="hidden" th:name="action" th:id="action" value="" />
        <input th:type="hidden" th:name="actionIdentifier" th:id="actionIdentifier"
               th:value="${pageDetails.navigationDto.id}
                                                       +'-'+${navigationItem.id}
                                                       +'-'+${widget.id}" />
            <div th:with="product=${widget.componentDtos[0].objectList[0]},
            order=${widget.componentDtos[0].objectList[1]}"
                 class="w3-row-padding w3-grayscale" style="width: auto">
                <input type="hidden" th:name="smsApiKey" th:id="smsApiKey"  th:value="${product.smsApiKey}"></input>
                <input type="hidden" th:name="otpSessionId" th:id="otpSessionId"  th:value="${product.otpSessionId}"></input>
                <input type="hidden" th:name="sendMail" th:id="sendMail"  th:value="${product.sendMail}"></input>
                <div class="w3-col l3 m6 w3-margin-bottom">

                    <img th:with="image=${#strings.arraySplit(product.image,',')}"
                         th:src="|/images/${image[0]}|" th:alt="${product.header}" style="width:80%; height: 200px;" />

                    <h3 th:text="${product.header}"></h3>
                    <p class="w3-opacity" th:text="${product.subHeader}"></p>


                </div>

                <div class="w3-col l3 m6 w3-margin-bottom" style="text-align:right">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="${widget.widgetTitle}"></h3>
                    <h3 th:text="${product.header}"></h3>
                    <p class="w3-opacity" th:text="${product.subHeader}"></p>
                    <p th:text="${product.description}"></p>

                    <input type="hidden" th:name="productId" th:id="productId"  th:value="${product.id}"></input>
                    <input type="hidden" th:name="orderId" th:id="orderId"  th:value="${order.id}"></input>
                    <input type="hidden" th:name="otpMatched" th:id="otpMatched"  value="false"></input>

                    <p th:text="|Price per ${order.quantity} unit: Rs.${order.price}/-|"></p>
                    <p th:text="|Discount : Rs.-${order.discount}/-|"></p>
                    <p th:text="|GST : Rs.${order.totalGst}/-|"></p>
                    <p th:text="|Delivery charges : Rs.${order.deliveryCharges}/-|"></p>
                    <b><p th:text="|Final Price : Rs.${order.finalPrice}/-|"></p></b>

                </div>
                <div class="w3-col l3 m6 w3-margin-bottom" style="width: 150px">
                </div>
                <div class="w3-col l3 m6 w3-margin-bottom" align="left !important" style="text-align:left !important">
                    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="|Customer Details|"></h3>
                    <p class="w3-opacity" th:text="|Provide below details|"></p>
                    <div th:each="componentDto : ${widget.componentDtos}" th:if="${componentDto.type}!=custom">
                        <div th:replace="|../widgets/${componentDto.type}| ::
                                                    formField(
                                                    component=|${componentDto}|,
                                                    widget=|${widgetDto}|,
                                                    navigationItem=|${navigationItemDto}|,
                                                    pageDetails=|${pageDetails}|
                                                    )"></div>
                        </div>


                    <h3><p style="text-align: left; font-weight: bold; color: green" id="success"></p></h3>
                    <h3><p style="text-align: left; font-weight: bold; color: darkred" id="failure"></p></h3>

                    <div th:if="${widget.componentDtos[0].objectList.size()}>2" th:with="payment=${widget.componentDtos[0].objectList[2]},
                        customer=${widget.componentDtos[0].objectList[3]}">
                        <input type="hidden" th:name="razorOrderId" th:id="razorOrderId"  value=""></input>
                        <input type="hidden" th:name="razorPaymentId" th:id="razorPaymentId"  value=""></input>
                        <input type="hidden" th:name="razorSignature" th:id="razorSignature"  value=""></input>
                        <input type="hidden" th:name="orderId" th:id="orderId"  th:value="${payment.orderId}"></input>
                        <input type="hidden" th:name="amount" th:id="amount"  th:value="${payment.amount}"></input>
                        <input type="hidden" th:name="imagePath" th:id="imagePath"  th:value="${pageDetails.clientDto.logo}"></input>
                        <input type="hidden" th:name="apiKey" th:id="apiKey"  th:value="${payment.apiKey}"></input>
                        <input type="hidden" th:name="firstName" th:id="firstName"  th:value="${customer.firstName}"></input>
                        <input type="hidden" th:name="address" th:id="address"  th:value="${customer.completeAddress}"></input>
                        <input type="hidden" th:name="phone1" th:id="phone1"  th:value="${customer.phone1}"></input>
                        <input type="hidden" th:name="email" th:id="email"  th:value="${customer.email}"></input>

                        <button class="btn btn-primary btn-lg active" id="rzp-button1">Pay with Razor pay</button>
                        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                        <script>
                            var apiKey = document.getElementById('apiKey').value;
                            var amount = document.getElementById('amount').value;
                            var imagePath = document.getElementById('imagePath').value;
                            var firstName = document.getElementById('firstName').value;
                            var phone1 = document.getElementById('phone1').value;
                            var email = document.getElementById('email').value;
                            var address = document.getElementById('address').value;
                            var options = {
                                "key": apiKey, // Enter the Key ID generated from the Dashboard
                                "amount": amount*100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                                "currency": "INR",
                                "name": "Amrutha Hani",
                                "description": "Payment Transaction",
                                "image": "/images/"+imagePath,
                                "order_id": orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                                "handler": function (response){
                                    paymentResponseHandler(response);
                                },
                                "prefill": {
                                    "name": firstName,
                                    "email": email,
                                    "contact": phone1
                                },
                                "notes": {
                                    "address": address
                                },
                                "theme": {
                                    "color": "#F37254"
                                }
                            };
                            var rzp1 = new Razorpay(options);
                            document.getElementById('rzp-button1').onclick = function(e){
                                rzp1.open();
                                e.preventDefault();
                            }
                        </script>
                    </div>

                </div>


            </div>
    </form>
</div>
</body>
</html>
