<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script type="text/javascript" th:src="|/js/${pageDetails.clientDto.id}.js|"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>

<body object="pageDetails">


<div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
        <a th:href="${pageDetails.navigationDto.navigationItems[0].url}" class="w3-bar-item w3-button">
            <b th:text="${pageDetails.clientDto.header}"></b></a>
        <div class="w3-right w3-hide-small" th:each="navigationItemDto : ${pageDetails.navigationDto.navigationItems}">
            <a th:href="${navigationItemDto.url}" class="w3-bar-item w3-button" th:text="${navigationItemDto.label}">
            </a>
        </div>
    </div>
</div>



<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
    <img class="w3-image" th:src="|/images/${pageDetails.clientDto.logo}|" th:alt="${pageDetails.clientDto.header}" width="1500px" height="200px" />
    <div class="w3-display-middle w3-margin-top w3-center">
        <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min">
            <b th:text="${pageDetails.clientDto.header}"></b></span>
            </h1>
    </div>
</header>





<div class="w3-content w3-padding" style="max-width:1564px" th:each="navigationItemDto : ${pageDetails.navigationDto.navigationItems}">
        <div th:each="widgetDto : ${navigationItemDto.widgets}">
            <div th:replace="${widgetDto.id} ::
                                                    widget(widget=|${widgetDto}|,
                                                    navigationItem=|${navigationItemDto}|,
                                                    pageDetails=|${pageDetails}|
                                                    )"></div>
        </div>
</div>




<footer class="w3-center w3-black w3-padding-16">
    <p>Powered by <a href="https://www.distarise.in/" title="Distarise Technologies" target="_blank" class="w3-hover-text-green">Distarise Technologies</a></p>
</footer>

</body>
</html>