<html>

<head>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>
    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8" />
</head>

<body object="pageDetails">
<div class="container">


        <div th:if="${pageDetails.clientDto.header}">
            <h2 class="header" th:text="${pageDetails.clientDto.header}"></h2>
        </div>


        <h3 class="header" align="left" th:text="${pageDetails.navigationDto.pageTitle}"></h3>


        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <div th:each="navigationItemDto : ${pageDetails.navigationDto.navigationItems}">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="${navigationItemDto.url}">
                            <div th:text="${navigationItemDto.label}"></div></a>
                    </nav>
                </div>
            </div>
        </nav>


        <div class="container">
            <div th:each="navigationItemDto : ${pageDetails.navigationDto.navigationItems}">
                <div th:class="${navigationItemDto.url}==pageDetails.url">
                    <div class="container">
                        <div th:each="widgetDto : ${navigationItemDto.widgets}">
                            <div th:text="${widgetDto.widgetTitle}"></div>
                                <form method="post" >
                                    <div th:each="componentDto : ${widgetDto.componentDtos}">
                                        <div th:replace="|../widgets/${componentDto.type}| :: formField(label=|${componentDto.label}|,id=|${componentDto.id}|)"></div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>
</html>