<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="widget(widget)">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16" th:text="${widget.widgetTitle}"></h3>
    <p>
        Due to the current pandemic Nanokinetics is introducing Amrutha Hani, one of its product which is on high demand
        which automates the usage of Theertha distribution of every devotee. Devotees can get the sacred Theertha at its
        purest form which any intervention from anyone hence ensuring self safety.
    </p>
</div>
</body>
</html>
