<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
    <body>
        <div class="input-group mb-3" th:fragment="formField(component, widget, navigationItem, pageDetails)">
            <div class="input-group-prepend">
                <div class="input-group-prepend">
                    <span class="input-group-text" style="width: 150px" th:text="${component.label}"></span>
                </div>
                <input type="text" style="width: 200px"  class="form-control" maxlength="10" th:value="${component.value}" th:id="${component.id}" th:name="${component.id}"  />
                <!--<small id="smallText" class="form-text text-muted" th:text="${component.label}"></small>-->
            </div>
        </div>
    </body>
</html>
