<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
    <body>
        <div th:fragment="formField(component, widget, navigationItem, pageDetails)">
            <div class="form-group">
                <input type="hidden" id="customerId" name="customerId" value="" />
                <table class="table table-hover table-cards align-items-center">
                    <thead style="border-bottom: solid; border-width: thin">
                    <tr>
                        <th scope="col">Customer Id</th>
                        <th scope="col">First name</th>
                        <th scope="col">Last name</th>
                        <th scope="col">Phone number</th>
                    </tr>
                    </thead>

                    <tbody>
                    <div th:if="${null != component.gridValues and component.gridValues.size()>0}">
                         <div th:each="gridValue : ${component.gridValues}">
                            <tr>
                                <td>
                                    <a href="#" th:text="${gridValue.get('customerId')}" th:onclick="|javascript:viewCustomer('${widget.id}',
                                    '${component.keyOrAction}','${widget.redirectUrl}', '${gridValue.get('customerId')}')|" />
                                </td>
                                <td>
                                    <span th:text="${gridValue.get('firstname')}" id="firstname" name="firstname" />
                                </td>
                                <td>
                                    <span th:text="${gridValue.get('lastname')}" id="lastname" name="lastname" />
                                </td>
                                <td>
                                    <span th:text="${gridValue.get('phone')}" id="phone" name="phone" />
                                </td>
                            </tr>

                            <tr class="table-divider"></tr>
                         </div>
                    </div>
                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>
