<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8" />
</head>
    <body>
        <div th:fragment="formField(component, widget, navigationItem, pageDetails)" style="float: right; margin-left: 10px">
            <span th:if="${true == component.editable}">
                <button type="button" th:redirectUrl="${widget.redirectUrl}" th:widgetId="${widget.id}" th:action="${component.keyOrAction}"
                        th:onclick="javascript:onClickSubmitForm(this.getAttribute('widgetId'),this.getAttribute('action'),this.getAttribute('redirectUrl'))"
                        th:id="${component.id}" class="btn btn-primary" th:text="${component.label}"></button>
            </span>
            <span th:if="${false == component.editable}">
                <button type="button" disabled="${!component.editable}" th:id="${component.id}" class="btn btn-primary" th:text="${component.label}"></button>
            </span>
            <br /> <br />
        </div>
    </body>
</html>
